#player-tracker-wrapper{
    margin: 0;
}

#inventory-table{
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px 3px 10px;
    width: 350px;
    background-color: #42b149;
    font-size: 14px;
    cursor: default;
}

#inventory-table td{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

#inventory-table img{
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    filter: grayscale(100%) contrast(75%) brightness(75%);
}

#inventory-table img.acquired{
    filter: none;
}

#inventory-table img.powder-fix{
    width: 35px;
    height: 35px;
}

#location-table{
    width: 350px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #42b149;
    padding: 0 3px 3px;
    font-size: 14px;
    cursor: default;
}

#location-table th{
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#location-table td{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    line-height: 20px;
}

#location-table td.area-name {
    float: left;
    text-align: left;
    line-height: 20px;
    width: 75%
}

#location-table th.counter{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    width: 19%
}

#location-table th.keycounter {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    width: 3%
}

#location-table td.keycounter {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    width: 3%
}

#location-table td.counter{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    width: 5%
}

#location-table td.location-check {
    margin-left: 30px;
    border-left: 1px solid #000000;

}

#location-table img{
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}

#location-table tbody.locations {
    font-size: 12px;
}

#location-table td.location-name {
    padding-left: 16px;
    text-align: left;
}

#generic-link{
    margin-top: 5px;
    width: 350px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #42b149;
    padding: 0 3px 3px;
    font-size: 14px;
    cursor: default;
}

#generic-link th{
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#generic-link td{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    line-height: 20px;
}

.hide {
    display: none;
}

body {
    background-color: #3667b1;
}